{% extends 'mainapp/base.html' %}
{% block contentBody %} 

        {% load static %}

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- ROW 1 - Name Heading for whole website                -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class='section'>
                
                <div id='mainHeader' class='row center-align'>

                    <!-- main title row -->
                    <div id='row'>

                        <!-- main col of this row -->
                        <div class='col s12 m12 l12'>
                            <h1>What is Music Theory?</h1>
                            <h4>Do you need to know it to write music?</h4>
                        </div>
                    </div>
                </div>

            </div> <!-- End Anthony Meyer title section. -->

            <!-- Section divider -->
            <div class='divider grey darken-4'></div>

            <!-- Section Divider -->
            <div class='divider grey darken-4'></div>
{% endblock %}
