{% extends 'mainapp/base.html' %}
{% block contentBody %} 

        {% load static %}

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- ROW 1 - Name Heading for whole website                -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class='section'>
                
                <div id='mainHeader' class='row center-align'>

                    <!-- main title row -->
                    <div id='row'>

                        <!-- main col of this row -->
                        <div class='col s12 m12 l12'>
                            <h1>Anthony Meyer</h1>
                        </div>
                    </div>

                    <!-- subheading row -->
                    <div id='row'>
                        <h4>Guitar &amp; Drums</h4>
                    </div>
                </div>

                <!-- Location -->
                <div class='row center-align'>

                    <!-- Location -->
                    <div class='col l12 m12 s12'>
                        <p>Progressive Instrumental Rock - Knoxville, TN</p>
                    </div>
                </div>
            </div> <!-- End Anthony Meyer title section. -->

            <!-- Section divider -->
            <div class='divider grey darken-4'></div>

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- ROW 2 - Social Media Links                            -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class='section'>
                <div class='row center-align'>
                    <div class='col s12 m12 l12'>
                        <p>Follow me on your favorite social media platform.</p>
                    </div>
                </div>
                <div class='row center-align'>
                    <!-- YouTube Icon -->
                    <div class='col s2 m2 l2 offset-s3 offset-m3 offset-l3'>
                        <a href="https://www.youtube.com/channel/UCSweYHSSx0ePk4hljBdjTng">
                            <img src="{% static 'mainapp/images/YouTube.png' %}" style="width: 35px" alt='YouTube Link' />
                        </a>
                    </div>

                    <!-- SoundCloud Icon -->
                    <div class='col s2 m2 l2'>
                        <a href="https://soundcloud.com/anthonymeyerguitar">
                            <img src="{% static 'mainapp/images/SoundCloud.png' %}" style="width: 33px" alt='SoundCloud Link' />
                        </a>
                    </div>

                    <!-- Twitter Icon -->
                    <div class='col s2 m2 l2'>
                        <a href="https://twitter.com/ameyerguitar">
                            <img src="{% static 'mainapp/images/Twitter.png' %}" style="width: 33px" alt='Twitter Link' />
                        </a>
                    </div>
                </div>
            </div><!-- End social media links section -->

            <!-- Section divider -->
            <div class='divider grey darken-4'></div>

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- ROW 3 - Email list sign-up section                    -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class='section'>
                <div class='row'>

                    <!-- Main column of this row, signup form -->
                    <div id='formDiv' class='row'>

                        <!-- header of this section -->
                        <div id='formDiv' class='col s12 m12 l12'>
                            <h5>Access extra content by joining the email list!</h5>
                            <p>
                                You will receive alerts when new music is
                                released and when new videos are up on YouTube.
                                Additionally, fans that are themselves
                                musicians will have the chance to randomly be
                                featured each day on the front page of this
                                website.
                            </p>
                            <b>Current Number of Fans:</b> {{ fanCount }} (Next milestone is 25)
                        </div>
                    </div>
                    <div id='emailFormRow' class='row'>

                        <!-- form for signing up (dissappears after entering) -->
                        <div class='col s10 m8 l8'>
                            <form id='emailListForm' method='post'>
                                {% csrf_token %}
                                <input class='validate' type="email" name="email" id="emailID" placeholder='Email'>
                                <input class='grey darken-4 white-text btn' type="submit" value="Go!">
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- End email list section -->

            <!-- Section Divider -->
            <div class='divider grey darken-4'></div>

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- ROW 4 - Latest Video                                  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class='section'>
                <div class='row center-align'>
                    <div class='col s12 m12 l12'>
                        <h4>Latest Video</h4>   
                    </div>
                    <div class='col s12 m12 l12'>
                        <iframe 
                            style="width: 560px; max-width:100%; height:315px" 
                            src="https://www.youtube.com/embed/7csFJ-NYyU0" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen> 
                        </iframe>
                    </div>
                </div>
            </div><!-- End latest video section -->

            <!-- Section Divider -->
            <div class='divider grey darken-4'></div>

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- ROW 5 - Album description, status, and track listing  -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class='section'>
                <div class='row'>
                    <div class='col s12 m12 l12'>
                        <h4>My Current Project</h4>
                        <i>Updated May 31, 2019</i>

                        <h6>Description</h6>
                        <p style='margin-left: 30px'>
                            This album is a mixture of instrumental rock and
                            fusion. The creation process began in October 2018
                            when I rediscovered a passion for music after an
                            almost 10 year dry spell. I am playing drums and
                            guitar on all of the tracks. Quillen Blalock is
                            playing piano, and Kyle Brashear is playing Bass.
                            Ben Roehrs let me borrow a bass to write with so
                            he is the true hero.
                        </p>

                        <h6>Release Date:</h6> 
                        <p style='margin-left: 30px'>September 2019</p>
                        
                        <h6>Status:</h6> 
                        <p style='margin-left: 30px'>
                            Writing is done for 7/7 songs. Drums are
                            finished for 7/7. Keys are finished for 2/7.
                        </p>

                        <h6>TODO:</h6>
                        <p style='margin-left: 30px'>
                            Rhythm guitar, lead guitar, bass, mixing,
                            mastering.
                        </p>
                    </div>
                    <div class='col s12 m4 l4'>
                        <img src="{% static 'mainapp/images/MarshallOnCover.png' %}" style="max-width: 100%" alt='Album Cover Art' />
                    </div>
                    <div class='col s12 m8 l8'>
                        <h6>Track List</h6>
                        <ol>
                            <li>Ascension</li>
                            <li>T'sall Good</li>
                            <li>Cookin' a Meal</li>
                            <li>Vibes</li>
                            <li>Oof</li>
                            <li>Breathe</li>
                            <li>Marshall On</li>
                        </ol>
                    </div>
                </div>
            </div><!-- End album description section -->

            <!-- Section Divider -->
            <div class='divider grey darken-4'></div>

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- ROW 6 - Gear List                                     -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class='section'>
                <div class='row'>
                    <h4>My Gear</h4>
                    <h5>Guitars</h5>

                    <!-- The Suhr -->
                    <button class='collapsible'>Suhr Modern Pro</button>
                    <div class='content'>
                        <a href='https://www.suhr.com/instruments/modern-plus/' target='blank'>Suhr Guitars</a>
                        <p>
                            This is my main guitar. I hardly touch any of
                            the others in this list. It is the only guitar
                            I am using on the Marshall On album. I first
                            noticed Suhr when I saw some viral videos of
                            Guthrie Govan on youtube (Fives I believe).
                            Then I met Andy Wood (also from Knoxville) and
                            he hooked me up with a deal on an amazing Suhr.
                            Mine has an aqua-burst finish. It is basically
                            a blue version of Andy's signature model at the
                            time.
                        </p>
                    </div>

                    <h5>Drums</h5>

                    <!-- Roland Electric Kit -->
                    <button class='collapsible'>
                        Roland Electric Kit
                    </button>
                    <div class='content'>
                        <a href='https://www.roland.com/us' target='blank'>Roland</a>
                        <p>
                            The electric kit is all I can play without my
                            neighbors hating me. The GGD Modern and Massive
                            Sample Pack actually makes electric drums a
                            really option for recording.
                        </p>
                    </div>

                    <h5>Recording Hardware and Software</h5>

                    <!-- Macbook Pro -->
                    <button class='collapsible'>
                        MacBook Pro Late 2013
                    </button>
                    <div class='content'>
                        <a href='https://www.apple.com/macbook-pro/' target='blank'>Macbook Pro</a>
                        <p>
                            I went ahead and made sure to have 16GB of RAM.
                            It holds up pretty well. Every now and then
                            I'll need to put Logic into low latency mode
                            while tracking. Additionally, sometimes I'll
                            freeze tracks in order to lighten the load on
                            the processor.
                        </p>
                    </div>

                    <!-- Axe FX -->
                    <button class='collapsible'>
                        Axe FX II XL+
                    </button>
                    <div class='content'>
                        <a href='https://www.fractalaudio.com/' target='blank'>Fractal Audio</a>
                        <p>
                            Aside from the Suhr, this is the best piece of
                            equipment on the list. If I was stranded on an
                            island and could only take two pieces of gear,
                            they would be my Suhr and the Axe FX.
                        </p>
                    </div>

                    <!-- Logic Pro X -->
                    <button class='collapsible'>
                        Logic Pro X
                    </button>
                    <div class='content'>
                        <a href='https://www.apple.com/logic-pro/' target='blank'>Logic Pro X</a>
                        <p>
                            I'm on a Mac. So I use logic.
                        </p>
                    </div>

                    <!-- GGD -->
                    <button class='collapsible'>
                        Get Good Drums Modern and Massive Sample Pack
                    </button>
                    <div class='content'>
                        <a href='https://www.getgooddrums.com/products/modern-massive-pack' target='blank'>GGD</a>
                        <p>
                            This sample pack provides a very cheap way to
                            have amazing sounding drums. It is a must have
                            if you do not have the means to track acoustic
                            drums in an expensive studio.
                        </p>
                    </div>

                    <!-- Rokit Speakers -->
                    <button class='collapsible'>
                        Rokit 5 G4 Studio Monitors
                    </button>
                    <div class='content'>
                        <a href='http://www.krksys.com/Studio-Monitors/ROKIT-5-G4' target='blank'>Monitors</a>
                        <p>
                            I like these monitors. Mine are really old and
                            one of the two has static at certain
                            frequencies, but I manage. They are FRFR
                            speakers, so they are well suited to use as an
                            amp for my Axe FX.
                        </p>
                    </div>
                </div>
            </div><!-- End gear section -->

            <!-- Section Divider -->
            <div class='divider grey darken-4'></div>

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- ROW 7 - Featured Artist of the day.                   -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class='section'>
                <div class='row'>
                    <div class='col s12 m6 l6'>

                        <h4>Featured Artist</h4>

                        <h6>{{ artist.name }}</h6>

                        <b>Genre:</b>
                        <i>{{ artist.genre }}</i>
                        <br>

                        <b>Location:</b>
                        <i>{{ artist.location }}</i>
                        <br>

                        <b>Social Media:</b>
                        <a href='{{ artist.socialLink }}' target='blank'>Social Media Link</a>
                        <br>

                        <b>My Favorite Track:</b>
                        <i>{{ artist.favoriteTrack }}</i>
                        <br>

                        <h6>Description</h6>
                        <p> {{ artist.description }} </p>
                    </div>
                    <div class='col s12 m6 l6'>
                        <img src='{{ artist.imageLink }}' style='width: 100%' alt='{{ artist.name }} Photo' />
                    </div>
                </div>
            </div><!-- End of featured artist section -->

            <!-- Section Divider -->
            <div class='divider grey darken-4'></div>
{% endblock %}
