<!DOCTYPE html>
<html>

    <!-- Header -->
    <head>
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133075300-2"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-133075300-2');
        </script>

        <!-- This is a django thing -->
        {% load static %}

        <!-- need to load css in this specific order -->
        <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/materialize.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/index.css' %}">
        <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Satisfy'>
        <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Raleway'>
        <link rel="shortcut icon" type="image/png" href="{% static 'mainapp/images/favicon.png' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- let browser know we are mobile friendly -->
        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>

        <!-- Description -->
        <meta name='description' content='Anthony Meyer of Knoxville, TN is a guitarist, a drummer, and a producer focusing in progressive rock and instrumental music.'/>

        <!-- Keywords -->
        <meta name='keywords' content='Anthony Meyer, guitar, drums, producer, Knoxville, TN, Marshall On, Quillen Blalock, instrumental, music'/>

        <!-- Author -->
        <meta name='author' content='Anthony Meyer'/>

        <!-- title yo -->
        <title>Anthony Meyer Guitar</title>

    </head>

    <!-- Main -->
    <body>
        
        <!-- everything lives insider container class -->
        <div class='container'>
            
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- ROW 1 - Name Heading for whole website                -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class='section'>
                <div id='mainHeader' class='row center-align'>

                    <!-- main title row -->
                    <div id='row'>

                        <!-- main col of this row -->
                        <div class='col s12 m12 l12'>
                            <h1>Anthony Meyer</h1>
                        </div>
                    </div>

                    <!-- subheading row -->
                    <div id='row'>
                        <h4>Guitar &amp; Drums</h4>
                    </div>
                </div>
                <div class='row center-align'>
                    <div class='col l12 m12 s12'>
                        <p>Progressive Instrument Rock - Knoxville, TN</p>
                    </div>
                    <div class='col s2 m1 l1 offset-s4 offset-m5 offset-l5'>
                        <a href="https://www.youtube.com/channel/UCSweYHSSx0ePk4hljBdjTng">
                            <img src="{% static 'mainapp/images/YouTube.png' %}" style="width: 35px"></img>
                        </a>
                    </div>
                    <div class='col s2 m1 l1'>
                        <a href="https://soundcloud.com/anthonymeyerguitar">
                            <img src="{% static 'mainapp/images/SoundCloud.png' %}" style="width: 33px"></img>
                        </a>
                    </div>
                </div>
            </div>

            <div class='divider grey darken-4'></div>

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- ROW 2 - Email list sign-up section                    -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class='section'>
                <div class='row'>

                    <!-- Main column of this row, signup form -->
                    <div id='formDiv' class='row'>

                        <!-- header of this section -->
                        <div id='formDiv' class='col s12 m12 l12'>
                            <h5>Join the fam.</h5>
                            <p>Join my family of {{ fanCount }} by signing up to the email list below.
                               You'll be the first to hear any news.
                            </p>
                        </div>
                    </div>
                    <div id='emailFormRow' class='row'>

                        <!-- form for signing up (dissappears after entering) -->
                        <div class='col s10 m8 l8'>
                            <form id='emailListForm' method='post'>
                                {% csrf_token %}
                                <input class='validate' type="email" name="email" id="emailID" placeholder='Email'>
                                <input class='grey darken-4 white-text btn' type="submit" value="Go!">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class='divider grey darken-4'></div>


            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- ROW 3 - Show the people how many fans we have         -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class='section'>
                <div class='row'>
                    <div class='col s12 m12 l12'>
                        <h4>My Current Project</h4>
                        <p>
                            <i>Updated May 23, 2019</i>
                            <br>
                            <b>Release Date:</b> 
                            <i>September 2019</i>
                            <br>
                            <b>Status:</b> 
                            <i>Writing is done for 7/7 songs. Drums are finished for 7/7. Keys are finished for 1/7.</i>
                            <br>
                            <b>TODO:</b>
                            <i>rhythm guitar, lead guitar, bass, mixing, mastering.</i>
                        </p>
                    </div>
                    <div class='col s12 m4 l4'>
                        <img src="{% static 'mainapp/images/MarshallOnCover.png' %}" style="max-width: 100%"></img>
                    </div>
                    <div class='col s12 m8 l8'>
                        <ol>
                            <li>Ascension</li>
                            <li>T'sall Good</li>
                            <li>Cookin' a Meal</li>
                            <li>Vibes</li>
                            <li>Oof</li>
                            <li>Breathe</li>
                            <li>Marshall On</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class='divider grey darken-4'></div>

            <!-- footer -->
            <footer>

                <!-- Load Javascript -->
                <script>var CSRF_TOKEN = '{{ csrf_token }}'; </script>
                <script src="{% static 'mainapp/js/jquery-3.4.0.min.js' %}"></script>
                <script src="{% static 'mainapp/js/materialize.min.js' %}"></script>
                <script src="{% static 'mainapp/js/main.js' %}"></script>
            </footer>
        </div>
    </body>

</html>
