{% extends 'mainapp/base.html' %}
{% block contentBody %} 

        {% load static %}

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- ROW 1 - Name Heading for whole website                -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class='section'>
                
                <div id='mainHeader' class='row center-align'>

                    <!-- main title row -->
                    <div id='row'>

                        <!-- main col of this row -->
                        <div class='col s12 m12 l12'>
                            <h1>Music Theory for Songwriters</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Section divider -->
            <div class='divider grey darken-4'></div>
            <div class='section'>
                <div id='row'>
                    <h2>Lesson 01</h2>
                    <h5>What is music theory?</h5>
                    <h5>and</h5>
                    <h5>Do you need to know it in order to write good music?</h5>
                    <p>
                        <i>Published February 1, 2020</i>
                    </p>
                </div>

            </div> <!-- End Anthony Meyer title section. -->

            <!-- Section divider -->
            <div class='divider grey darken-4'></div>

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- ROW 2 - blog post                                     -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class='section'>
                
                <!-- main title row -->
                <div id='row'>

                    <!-- main col of this row -->
                    <div class='col s12 m12 l12'>
                        <p>
                            Let's be clear, you do not need to know music
                            theory to write compelling music. Everyone is
                            already an expert. We have been listening to music
                            our entire lives. Using our expert ears, writing
                            music can be as simple as trying to recreate the
                            melodies that we already hear in our heads. This
                            method has been used by many incredible songwriters
                            without a deep understanding of theory, which
                            proves that theory isn't a songwriting
                            prerequisite. 
                        </p>
                        <p>
                            So, what is music theory? Well, it is a useful
                            framework that we can use to understand and
                            communicate musical concepts. Additionally, it is a
                            great tool that can be used to arrive at your
                            songwriting destination quicker. How is that?
                            It's simple. Instead of recreating what you hear
                            in your head by randomly plucking notes until
                            you find a match, you can use music theory as a
                            shortcut. A knowledge of music theory allows you
                            to recognize the specific intervals, key changes,
                            and chord relationships and then use that knowledge
                            to actually write it down and play it with an 
                            instrument.
                        </p>
                        <p>
                            An example? We all know 'Here Comes the Bride'. Sure
                            you know how to play it in your head, but could you
                            write it down without an instrument in your hand?
                            Could you play it on the piano on your first attempt?
                            Could you explain why it sounds and makes you feel 
                            the way it does? This is where music theory attempts
                            to provide some answers. It can help explain why a
                            440 Hz vibration of your eardrum makes us 'feel' a
                            certain way when superimposed over three other notes
                            each vibrating at other frequencies.
                        </p>
                        <p>
                            If you are as excited about music theory as I am. Continue
                            reading as we learn and try to figure out some answers.
                        </p>
                        Next Lesson: <a href='/musictheory_two'>How do I choose which notes and chords to play?</a>
                    </div>
                </div>

            </div> <!-- End Anthony Meyer title section. -->

            <!-- Section Divider -->
            <div class='divider grey darken-4'></div>
{% endblock %}
