{% extends 'mainapp/base.html' %}
{% block contentBody %} 

        {% load static %}

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- ROW 1 - Name Heading for whole website                -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class='section'>
                
                <div id='mainHeader' class='row center-align'>

                    <!-- main title row -->
                    <div id='row'>

                        <!-- main col of this row -->
                        <div class='col s12 m12 l12'>
                            <h1>Music Theory for Songwriters</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Section divider -->
            <div class='divider grey darken-4'></div>
            <div class='section'>
                <div id='row'>
                    <h2>Lesson 02</h2>
                    <h5>How do I know what notes to play?</h5>
                    <h5>and</h5>
                    <h5>How do I know what chords to play?</h5>
                    <p>
                        <i>Published February 3, 2020</i>
                    </p>
                </div>

            </div> <!-- End Anthony Meyer title section. -->

            <!-- Section divider -->
            <div class='divider grey darken-4'></div>

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- ROW 2 - blog post                                     -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class='section'>
                
                <!-- main title row -->
                <div id='row'>

                    <!-- main col of this row -->
                    <div class='col s12 m12 l12'>
                        <p>
                                There are 12 notes and two ways to represent them.

                                The 12 notes represented with sharps (# symbol) look like this:

                                A, A#, B, C, C#, D, D#, E, F, F#, G, G#

                                The 12 notes represented with flats (b symbol) look like this:

                                A, Bb, B, C, Db, D, Eb, E, F, Gb, G, Ab

                                Basically you have the alphabet A through G with a sharp (or flat) in-between each letter EXCEPT between B & C and between E & F.

                                As a beginner songwriter, you'll only care about 7 notes at a time. Which 7 should we care about? Let's start by picking a key, which is just a collection of 7 of the 12 notes that the some people somewhere determined sound good together. One of the keys to become familiar with on guitar is G Major, because most of the open chords (cowboy chords) used by songwriters are in the key of G Major. Don't get hung up on which key to pick, just pick one and start writing.

                                G Major has these 7 notes, and when played sequentially are called the G Major scale.

                                G, A, B, C, D, E, and F#

                                We can assign a number to each note and use that number representation to make our lives much easier down the road. Let's assign the numbers to our notes like this (because why not?)

                                G (1), A (2), B (3), C (4), D (5), E (6), and F# (7)

                                These will be the notes you can use to create melodies and chords for your very first song.

                                Great we know which notes to play while we are in G Major. Last time I checked, songs normally have chords (multiple notes played simultaneously). What chords can we play in the key of G Major?

                                Each key has 7 basic chords you can play, one for each root note in the key. Each chord is formed by taking a root note (the lowest note of the chord) and then stacking two more notes on top (the 3rd note and the 5th note).

                                Woah slow down, what is this 3rd and 5th lingo? The 3rd is simply two notes away from the root note, and the 5th is two notes away from the 3rd (or five away from the root). Remember how we numbered the 7 notes in G major? Well to form a G Major chord, just take G as your root note (the 1), then take B as your next note (the 3), and then take D as your last note (the 5). The hip cats call it 1,3,5.

                                So now you know how to construct a G major chord by starting with the 7 note G major scale. Wait a minute, no interesting songs ever consisted of just one chord. Let's learn how to form all 7 available chords using just one simple technique.

                                If we start with a different root note, say A, and then reset our scale numbering so that A is our new 1 note, we can form an A chord by taking the new notes represented by 1st, 3rd, and 5th notes.

                                Please don't get overwhelmed. Just take the G major scale with our original numbering scheme.

                                G (1), A (2), B (3), C (4), D (5), E (6), and F# (7)

                                and shift all of the numbers to the right by one to while keeping the letters fixed like this (the last number (7) wraps around to the front and gets assigned to the G.

                                G (7), A (1), B (2), C (3), D (4), E (5), and F# (6)

                                Now the 1, 3, and 5 represents an A chord.

                                Well it turns out you can follow this same procedure to figure out the proper notes to that form all 7 chords within the G major key. Here they are.

                                G chord: G B D
                                A chord: A C E
                                B chord: B D F#
                                C chord: C E G
                                D chord: D F# A
                                E chord: E G B
                                F# chord: F# A C

                                Great. But what do they sound like? There are two main flavors and one weird flavor of chords here. You have 3 major chords, 3 minor chords, and 1 diminished chord (we will worry about this later). Major chords usually sound happy and minor chord usually sound sad (with infinitely many exceptions).

                                What makes a chord major or minor is the distance between the root note and the third note. For example, the G chord in the G major key is major because the 3rd note in its chord is B, which is 4 half-steps away from G. This distance has a name (major 3rd interval) because it gives the chord its happy or sad sound quality.

                                In contrast, an A chord in the key of G major is a minor chord. The distance between its root note (A) and it's third note (C) is only 3 half-steps away rather than 4. This interval also has a name (minor 3rd interval), because it gives the chord a minor sound.

                                I'll go ahead and tell you the flavors of each chord within G major.

                                G Major chord: G B D
                                A Minor chord: A C E
                                B Minor chord: B D F#
                                C Major chord: C E G
                                D Major chord: D F# A
                                E Minor chord: E G B
                                F# Diminished chord: F# A C

                                I will represent these chords with yet another numbering system (this time Roman numerals) as I, ii, iii, IV, V, vi, vii(dim) so that we can write chord progressions down with just roman numerals instead of notes.

                                With this knowledge I invite you to pick 4 chords from the chart above and create a progression out of them. Simply put, play one chord for a few strums, then a different chord, etc... Try to listen and find interesting combinations.

                                There are a few chord progressions that are very very popular.

                                ii, vi, IV, I
                                I, IV, V

                                Next lesson we will take a simple chord progression and figure out how to write a melody on top of it!
                        </p>
                    </div>
                </div>

            </div> <!-- End Anthony Meyer title section. -->

            <!-- Section Divider -->
            <div class='divider grey darken-4'></div>
{% endblock %}
